@media (max-width: 1000px) {
    .lesson {
        width: 50%;
        margin-bottom: 50px;
    }
    .top-wrapper h1 {
        font-size: 32px;
    }
    .heading h2 {
        font-size: 20px;
    }
}

@media (max-width: 670px) {
    .lesson {
    width: 100%;
    }
    footer {
        text-align: center;
    }
    .btn {
        width: 100%;
        font-size: 25px;
        letter-spacing: 10px;
    }
    .facebook {
        margin-bottom: 10px;
    }
    .top-wrapper {
        text-align: left;
        padding-top: 130px;
        background-image: url(https://i.pinimg.com/originals/35/d4/ad/35d4ad69521c9d65f2ffb3107aba9492.jpg);
        background-size:cover;
    }
    .header-right {
        display: none;
    }
    .menu-icon {
        display: block;
    }
    .top-wrapper h1 {
        font-size: 24px;
    }
    .top-wrapper p {
        font-size: 14px;
    }

}
